@import "../../common/mixin/mixin.scss";
@import "./sub/_sub.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  width: 100%;
}

.co-bg {
  width: 100%;
  height: 100%;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // flex-wrap: nowrap;
}

.contents {
  width: vwMin(980);
  height: 100%;
  // margin: 0 auto;
}