/*!************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[0].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[0].use[2]!./src/assets/common/css/common.scss ***!
  \************************************************************************************************************************************************************************************/
:root {
  --devicePxW: 1024;
}

@media (max-width: 767px) {
  :root {
    --devicePxW: 375;
  }
}
h1 {
  color: red;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #333;
  width: 100%;
}

.co-bg {
  width: 100%;
  height: 100%;
}

.contents {
  width: min(980 / var(--devicePxW) * 100vw, 980 * 1px);
  height: 100%;
}
