.simpleModalBg.js-simpleModalClose
  .simpleModal
    .simpleModalInner
      .simpleModalHeader
        .simpleModal__closeBtn 閉じる
      .simpleModalBody
        //- img(src=`${globalState.websiteDir}assets/_template/img/01.png`)
        //- img(src=`${globalState.websiteDir}assets/_template/img/02.jpg`)
        //- img(src=`${globalState.websiteDir}assets/_template/img/03.jpg`)
